.recent-hits-list::-webkit-scrollbar {
    width: 4px;
}
.recent-hits-list::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 10px;
}
.last-child-border-0:last-child {
    border-bottom: 0 !important;
}
.recharts-responsive-container{
    height: 95% !important; 
}

.active-link {
  background-color: #1e293b !important;
  color: #fff !important;
  border-radius: 8px;
}


.nav-pills .nav-link {
  color: #334155; /* default text */
  background-color: transparent;
  transition: all 0.2s ease;
}

.nav-pills .nav-link.active {
  background-color: #0d6efd; /* your selected color */
  color: white;
}

.nav-pills .nav-link:hover {
  background-color: #e2e8f0;
}